
<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>周杰倫台中官方網站</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>

<h1><a href={% url 'main:main' %}>周杰倫台中官方網站</a></h1>

<table border="0"   height="25" width="1024">
    <tbody>
        <tr>
            <td style="text-align: center;"><a href={% url 'wiki:wiki' %}>介紹</a></td>
            <td style="text-align: center;"><a href={% url 'pic:pic' %}>圖片</td>          
            <td style="text-align: center;"><a href={% url 'album:album' %}>個人專輯</td>
            <td style="text-align: center;">影片</td>
        </tr>
    </tbody>
</table>


<br>
<br>
<h2>Jay</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/RPWDeLqsN0g?list=PLgFC_SXvt6LnCgyvAFpi4s_bR9x-yXv3E" frameborder="0" allowfullscreen></iframe>
<h2>范特西</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Y4xCVlyCvX4?list=PLgFC_SXvt6LkYvsRdMGQunFCL4OE8CTFj" frameborder="0" allowfullscreen></iframe>
<h2>八度空間</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eM6mF4RWhe0?list=PLgFC_SXvt6Lmkks32yM_6l-Eb6KMdgBom" frameborder="0" allowfullscreen></iframe>
<h2>葉惠美</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/DYptgVvkVLQ?list=PLgFC_SXvt6LmByjzSBtO1aD1W9J5D3ppg" frameborder="0" allowfullscreen></iframe>
<h2>七里香</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Bbp9ZaJD_eA?list=PLgFC_SXvt6LlDj8gGoHRhU0AtVxHpNknr" frameborder="0" allowfullscreen></iframe>
<h2>11月的蕭邦</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qzwsQTY-99o?list=PLgFC_SXvt6LnaeH6Z9wJ8MDQnUKIr5m2S" frameborder="0" allowfullscreen></iframe>
<h2>依然范特西</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xVTI5eSzwzQ?list=PLgFC_SXvt6LmsBaPJupeTACMWS0jw_6re" frameborder="0" allowfullscreen></iframe>
<h2>我很忙</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WxZvXPTBC0A?list=PLgFC_SXvt6LlFiB1BTPuZCnZWX8EVjc9x" frameborder="0" allowfullscreen></iframe>
<h2>魔杰座</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mLFhTFiX0uM?list=PLgFC_SXvt6LnqJtE_I8qwhGFfyX-XwpWB" frameborder="0" allowfullscreen></iframe>
<h2>跨時代</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uAUBexRRFr0?list=PLgFC_SXvt6LmToc3GnDOkPDrTed91_SLX" frameborder="0" allowfullscreen></iframe>
<h2>驚嘆號</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/IteE-HMVJ1M?list=PLgFC_SXvt6LlRaznw--e4-OOBkE3P2--4" frameborder="0" allowfullscreen></iframe>
<h2>12新作</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/miBGaUagOz8?list=PLgFC_SXvt6Lnz6oPtlYZMuglc25nhy_Zu" frameborder="0" allowfullscreen></iframe>
<h2>唉呦,不錯哦</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eS2T9IiOYbc?list=PLgFC_SXvt6LmwjhH5Jq7UvICbnS3NNQwH" frameborder="0" allowfullscreen></iframe>

</body>
</html>