
<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>周杰倫台中官方網站</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>

<h1><a href={% url 'main:main' %}>周杰倫台中官方網站</a></h1>

<table border="0"   height="25" width="1024">
    <tbody>
        <tr>
            <td style="text-align: center;"><a href={% url 'wiki:wiki' %}>介紹</a></td>
            <td style="text-align: center;"><a href={% url 'pic:pic' %}>圖片</td>          
            <td style="text-align: center;"><a href={% url 'album:album' %}>作品</td>
            <td style="text-align: center;">影片</td>
        </tr>
    </tbody>
</table>




<p>{{time}}</p>
</body>
</html>